@import 'tailwindcss';

@theme {
	--color-primary-100: #dad7cd;
	--color-primary-200: #a3b18a;
	--color-primary-300: #588157;
	--color-primary-400: #3a5a40;
	--color-primary-500: #344e41;
}

@theme inline {
	--font-poppins: var(--font-poppins);
}

@custom-variant dark (&:where(.dark, .dark *));

body {
	font-family: var(--font-poppins);
}

@utilities debug {
	@apply outline-1 outline-red-500;
}
